.simple-timeline ul {
  width: 100%;
  margin: 0 auto;
  position: relative;
  display: inline-block;
  list-style: none;
  background: url('./img/ul-bg.png') center top repeat-y;
  padding: 0 !important;
}

.simple-timeline ul li {
  display: block;
  position: relative;
  width: 50%;
  clear: both;
  margin: 0;
}

.simple-timeline ul li .timeline-text {
  width: 65%;
  float: left;
  font-size: 14px;
  line-height: 17px;
  margin-left: 2%;
}

.simple-timeline ul li.even {
  float: right;
}

.simple-timeline ul li.even > div {
  display: block;
  float: left;
  background: url('./img/li-bg.png') left center no-repeat;
  margin-left: -10px;
  padding-left: 30px;
}

.simple-timeline .timeline-date {
  text-align: right;
  margin: 0 0 1% 0;
}

.simple-timeline ul li.even > div .timeline-date {
  text-align: left;
}

.simple-timeline ul li.odd {
  float: left;
  text-align: right;
}

.simple-timeline ul li.odd > div {
  display: block;
  float: right;
  background: url('./img/li-bg.png') right center no-repeat;
  margin-right: -10px;
  padding-right: 30px;
}

.simple-timeline ul li.odd > div .timeline-text {
  float: right;
  text-align: right;
  margin-right: 2%;
  margin-left: 0;
}

.simple-timeline ul .timeline-image {
  height: auto;
  overflow-x: hidden;
}

.simple-timeline ul li.odd > div .timeline-image {
  float: right;
}

.simple-timeline ul li.even > div .timeline-image {
  float: left;
}

.simple-timeline ul .timeline-content {
  min-width: 125px;
}

.simple-timeline ul li.odd > div .timeline-content {
  float: left;
  padding-right: 2px;
}

.simple-timeline ul li.even > div .timeline-content {
  float: right;
  padding-left: 2px;
}
